.carousel {
  padding-top: 50px;
}
.h3 {
  font-size: 30px;
}
@media only screen and (max-width: 700px) {
  .h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .caption {
    background-color: rgb(51, 2, 2, 0.3);
    font-weight: bold;
  }
}
