@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.carousel {
  padding-top: 50px;
}
.h3 {
  font-size: 30px;
}
.masaiMara {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.mara_header {
  font-size: 60px;
}
.mara_content {
  padding: 0 10px;
  font-size: 19px;
  text-align: center;
}
.packagesHolder {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 700px) {
  .packagesHolder {
    display: flex;
    flex-direction: column;
  }
  .h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .caption {
    background-color: rgb(51, 2, 2, 0.3);
    font-weight: bold;
  }
  .mara_header {
    padding: 20px 10px 2px 10px;
    font-size: 30px;
  }
  .mara_content {
    font-size: 17px;
  }
}
