.nav {
  background-color: rgb(46, 3, 3);
  height: 50px;
  width: 100vw;
  margin-top: 0;
  padding: 0px 10vw 0px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
  font-weight: bold;
  position: fixed;
  z-index: 10;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  display: flex;
  height: 50px;
  width: 200px;
}
.bigPawAdventures {
  background-color: chocolate;
  width: 300px;
  align-items: center;
  justify-content: flex-start;
}
.menu {
  display: flex;
  justify-content: flex-start;
}
.Link {
  cursor: pointer;
  margin-right: 50px;
  position: relative;
  letter-spacing: 0.5px;
}

.Link::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: orangered;
  left: 0;
  bottom: -7px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.Link:hover::after {
  width: 100%;
  transition: 0.3s;
}
.Link:hover {
  color: rgb(82, 208, 250);
}

@media only screen and (max-width: 700px) {
  .nav {
    padding-left: 10px;
    padding-right: 20px;
  }
  .menu {
    display: none;
  }
  .Hamburger {
    display: flex;
  }
  .fabars {
    cursor: pointer;
    font-size: 25px;
  }
}
@media only screen and (min-width: 700px) {
  .Hamburger {
    display: none;
  }
  .fabars {
    display: none;
  }
}
