@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");

.nav {
  background-color: rgb(68, 4, 4);
  height: 60px;
  width: 100vw;
  padding: 5px 10vw 5px 30px;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
  z-index: 10;
  position: fixed;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  display: flex;
  height: 50px;
  width: 200px;
}
.bigPawAdventures {
  background-color: chocolate;
  width: 300px;
  align-items: center;
  justify-content: flex-start;
}
.menu {
  display: flex;
  justify-content: flex-start;
}
.Link {
  cursor: pointer;
  margin-right: 30px;
  position: relative;
  letter-spacing: 1px;
}

.Link::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: orangered;
  left: 0;
  bottom: -7px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.Link:hover::after {
  width: 100%;
  transition: 0.3s;
}
.menuMobile {
  display: none;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .menuMobile {
    display: block;
    width: 100%;
  }
  .sidebarOff {
    position: absolute;
    padding-left: 20px;
    left: 0;
    right:  0;
    z-index: 9;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    top: -100vh;
    width: 100%;
    min-height: -40vh;
    transition: 650ms;
  }

  .sidebar {
    position: absolute;
   
    left: 0;
    right:0;
    z-index: 9;
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    width: 100vw;
    height: fit-content;
    top: 60px;
    overflow-y: auto;
    position: absolute;
    background-color:  rgb(68, 4, 4, 0.5);
    backdrop-filter: blur(10px);
    transition: 750ms;
  }
  .link {
    padding-left: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    width: 100%;
    
  }
  .link:hover {
    background-color: royalblue;
    transition: 0.3s ease;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    padding: 0px 0px;
  }
  
  .menuIcon {
    margin: 0px 10px 0 10px;
  }
  .nav {
    padding-left: 10px;
    padding-right: 20px;
  }
  .menu {
    display: none;
  }
  .Hamburger {
    display: flex;
  }
  .fabars {
    cursor: pointer;
    font-size: 25px;
  }
}
@media only screen and (min-width: 700px) {
  .Hamburger {
    display: none;
  }
  .fabars {
    display: none;
  }
}
