.nav {
  background-color: rgb(46, 3, 3);
  height: 50px;
  width: 100vw;
  margin-top: 0;
  padding: 0px 10vw 5px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
  font-weight: bold;
  position: fixed;
  z-index: 10;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  flex: 2;
  align-items: center;
}
.logo {
  display: flex;
  width: 50px;
  height: 50px;
}
.menu {
  flex: 5;
}
