@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


.headerContainer {
    background-color: #f0f0f0;
    height: fit-content;
    padding: 0 0 20px 0;
}
.header {
   font-size: 30px;
   color: #152434;
   font-family: 'Raleway', sans-serif;
   text-align: left;
   font-weight: 700;
   padding: 15px;
}

.featuresHolder {
    display: flex;
    flex-direction: row;
    height: 30px;
    padding: 0 15px;
}
.icon {
    font-size: 30px;
    margin-right: 10px;
    color: #086972;

   
}
.featureHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.featureText {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.overviewHolder {
    padding: 0 15px;
}
.overviewHeading{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: #2a7886;
}
.p {
    font-family: 'Libre Baskerville', serif;
    background-color: #fffaf0;

}
.ToggleView {
    display: flex;
    align-items: center;
    
}
.dropDown {
    font-size: 30px;
    margin-left: 5px;
    color: #2a7886;
 
}
.pOff{
    display: none;

}
.scheduleOff{
    display: none;
}
.dayHeader{
    font-weight: bold;
    font-size: 20px;
}