@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.packageCard {
  width: 300px;
  height: fit-content;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  overflow: hidden;
  position: relative;
}
.cardHeader {
  text-align: left;
  color: green;
  font-size: 30px;
  font-family: "Comforter", cursive;
  width:100%;
 
}
.priceContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  margin-top: 20px;
}

.btm {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: royalblue;
  letter-spacing: 0.5;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
 
}
.From {
  color: black;
  font-size: 15px;
}
.btn {
  border: none;
  background: transparent;
  color: #d32f2f;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  .packageCard {
    display: flex;
    flex-direction: column;
    width: 96vw;
    height: auto;
    padding-bottom: 25px;
   
  }
}
