@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@700&display=swap");
.packageCard {
  width: 300px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  overflow: hidden;
  position: relative;
}
.cardHeader {
  text-align: center;
  color: green;
  font-size: 30px;
  font-family: "Comforter", cursive;
}
.priceTag {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: bolder;
  color: white;
  background-color: dodgerblue;
  padding: 5px;
  line-height: 30px;
}
.From {
  font-size: 12px;
  font-family: "Roboto Serif", sans-serif;
}
@media only screen and (max-width: 700px) {
  .packageCard {
    width: 96vw;
  }
}
